body{
    text-align: center;
}

h1{
    font-size: 50px;
    margin-bottom: 30px;
}

h2{
    margin-bottom: 50px;
    font-style: italic;
}

#game button{
    font-size: 30px;
    width: 200px;
    height: 80px;
    margin: 30px;
    background-color: rgb(220, 237, 245);
    border-radius: 10px;
}

#game button:hover{
    background-color: rgb(166, 220, 245);
}

#game #join{
    width: 400px;
}

#result{
    font-size: 50px;
}